$font-16px: 1.143em;
$font-14px: 1em;

$buy-btn-color: #FFCC01;



$default-text-color: #464451;


// login, password recovery and registration
$forms-btn-color: #2289B5;
$forms-btn-hover-color: #4D99BA;
$forms-error-color: #F63535;
$forms-success-color: green;
$forms-text-color: #1A1A22;
$forms-btn-text-color: #F2F2F2;
$forms-input-bckgr-color: #FAFAFA;
$forms-input-lable-color: #B5B6B6;
$forms-input-bckgr-hover-color: #FFFFFF;