
.border{
    display: flex;
    flex-direction: column;
    
    max-width: 450px;
    min-height: 446px;
    padding-top: 41px;
    background: #FFFFFF;
    
  }

  .container {
    background: #F6FBFE;
    padding: 85px 0;
  }
h1{
    text-align: center;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.1px;
    color: #1A1A22;
}

.message_block {
    height: 30px;
}

.form {
margin-top: 40px;
display: flex;
flex-direction: column;
margin-left: 15px;
margin-right: 15px;

@media (min-width: 370px) {
    margin-left: 0;
    margin-right: 0;
}
@media (min-width: 325px) {
    margin-left: 0;
    margin-right: 0;
}
}

.link_recovery, .link_noacc, .link_reg {
    
    // width: 155px;
    height: 20px;
    text-decoration: none;
    // border-bottom: 0.3px solid #1A1A22;
    color: #464451;
    align-self: center;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
}
.link_recovery{
    border-bottom: 0.3px solid #1A1A22;
    margin-top: 30px;
    cursor: pointer;
}
.link_reg {
    color: #2289B5;
    border-bottom: 0.3px solid #2289B5;
    cursor: pointer;
}
.link_noacc{
    margin-top: 20px;
    margin-bottom: 35px;
}
.button {
    margin-top: 20px;
    padding: 15px 90px;
    align-self: center;
    background-color:  $forms-btn-disabled-color;
    background-image: url(~@/assets/paw.svg);
    background-position: calc(100% - 30px) 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 10px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: $forms-btn-text-color;
    border: none;
}

.button-valid:active {
    background-color: $forms-btn-hover-color;
    
    // box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}


.button-valid:hover {
    outline-color: transparent;
    background-color: $forms-btn-color;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}


.button-valid{
    
    background-color: $forms-btn-color;
    // box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.button-link1{
    margin-top: 30px;
    padding: 15px 84.5px;
    align-self: center;
    
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: $forms-btn-color;
    opacity: 0.8;
border: 1px solid #2289B5;
box-sizing: border-box;
border-radius: 10px;
    cursor: default;
}
.button-link1:hover {
    outline-color: transparent;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.button-link2{
    margin-top: 30px;
    padding: 15px 56px;
    align-self: center;
    background-color:  $forms-btn-color;
    background-image: url(~@/assets/paw.svg);
    background-position: calc(100% - 15px) 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 10px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: $forms-btn-text-color;
    border: none;
    cursor: default;
}
.button-link2:hover {
    outline-color: transparent;
    background-color: $forms-btn-color;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.button-link2:active {
    background-color: $forms-btn-hover-color;
    
}
.error {
    margin-top: 5px;
    align-self: flex-start;
    display: none;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: $forms-error-color;
}

.field--error input {
    border-color: $forms-error-color !important;
}

.field--error .error {
    display: block;
    height: 40px;
}

.error_block {
    min-height: 20px;
}

.message {
    &--success {
        color: $forms-success-color;
    }

    &--error {
        color: $forms-error-color;
    }
}


.input-block {
    position: relative;
}
.group-field{
    display: flex;
    flex-direction: column;
}

.group-field input {
    font-size: 18px;
    padding: 27px 20px 10px 20px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(70, 68, 81, 0.4);;
    background: $forms-input-bckgr-color;
    border-radius: 10px;
    color: #1A1A22;
    transition: 0.2s ease all;

    position: relative;
   
}

.group-field input:focus {
    outline: none;
}

.group-field label {
    color: $forms-input-lable-color;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 23px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.group-field input:focus ~ label,
.group-field input:valid ~ label {
    top: 10px;
    font-size: 14px;
}

.group-field input:focus,
.group-field input:hover,
.group-field input:valid {
    background: $forms-input-bckgr-hover-color;
    border-color: $forms-btn-color;
}

.instruction{
    align-self: center;
    margin-bottom: 20px;
    height: 20px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A22;

    &--blue {
        color: $forms-btn-color;
       
        margin-top: 20px;
    }
    }

.wobble-error {
    animation: wobble-error 0.8s both;
}
.buttonShowPassword{
    width: 24px;
    height: 24px;
   background: transparent;
    
    background-repeat: no-repeat;
    right: 5%;
    top: 30%;
    border: none;
    padding: 0;
    position: absolute;
  }
.iconPassowordHide{
    width: 24px;
  height: 24px;
   background-repeat: no-repeat;
background-image: url(~@/assets/passHide.svg);
background-position-y: center;
}

.iconPassowordShow{
    width: 24px;
  height: 24px;
   background-repeat: no-repeat;
background-image: url(~@/assets/passShow.svg);
background-position-y: center;
}
.check-block{
    // position: absolute;
    // bottom: 7%;
    display: flex;
    justify-content: center;
}
.check-block input{
    color: rgba(70, 68, 81, 0.5);
    @media (max-width: 414px) {
        height: 20px;
    width: 20px;
    }
    
}
.check-label{
    // position: relative;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: rgba(70, 68, 81, 0.5);
    @media (max-width: 414px) {
        font-size: 14px;
        line-height: 17px;
        width: 211px;
    }
}
.round{
    height: 94px;
    width: 94px;
    border-radius: 47px;
    background-color: $forms-btn-color;
    align-self: center;
    margin-top: 75px;
    margin-bottom: 80px;
    background-image: url(~@/assets/check.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.form-success-registration{
    display: flex;
    flex-direction: column;
}
.form-new-password{
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
}

@keyframes wobble-error {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-15px);
    }
    30% {
        transform: translateX(7.7px);
    }
    45% {
        transform: translateX(-7.5px);
    }
    60% {
        transform: translateX(4.5px);
    }
    75% {
        transform: translateX(-3px);
    }
}


.form-group {
    font-family: Montserrat, sans-serif;
    text-align: left;

    &__label {
        font-size: 12px;
        line-height: 15px;
        color: #828282;
        box-sizing: border-box;
        display: inline-block;
        max-width: 400px;
    }

    &__link {
        display: block;
        text-align: right;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.3px;
        text-decoration-line: underline;
        color: #4F4F4F;
        padding: 5px 0;
    }

    &__helper {
        min-height: 60px;
        display: flex;
        justify-content: space-between;
    }

    &__errors {
        color: red;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.3px;

        & .error {
            padding: 5px 5px;
            display: flex;
        }
    }

    &_center {
        text-align: center;
    }
}

.input {
    font-family: Montserrat, sans-serif;
    display: inline-flex;
    align-items: stretch;
    position: relative;
    box-sizing: border-box;
    margin-right: 20px;
    border-bottom: 1px solid #4f4f4f;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding-top: 5px;
    max-width: 255px;

    &:last-child {
        margin-right: 0;
    }

    &_type_date {
        min-width: 150px;
    }

    &_type_time {
        min-width: 100px;
    }

    &_type_address {
        min-width: 325px;
        width: 100%;
    }

    &__control {
        border: none;
        outline: none;
        padding: 10px 5px;
        width: 100%;
        box-sizing: border-box;
        line-height: 20px;
        font: inherit;
        text-align: inherit;
        color: inherit;
    }

    &_type_date /deep/ .mx-input {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        font: inherit;
        text-transform: uppercase;
        border: none; 
        box-shadow: none;
        height: auto;
        color: inherit;
    }

    &__dropdown {
        position: absolute;
        top: 105%;
        left: 0;
        right: 0;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
        background: #fff;
        z-index: 1;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;

        &-option {
            padding: 10px;

            &:hover {
                background-color: rgba(#FFCC01, 0.3);
            }
        }
    }
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.radio {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

    &:last-child {
        margin-right: 0;
    }

    &__control {
        display: none;
    }

    &__button {
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        border: 2px solid #2289B5;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 0 5px;
        min-width: 65px;
        text-align: center;
        padding: 3px 5px;

        &-label {
            display: block;
            margin: 0;

            &_sub {
                color: #828282;
            }
        }
    }
    &_big &__button {
        min-height: 40px;
        min-width: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    &:hover > &__button {
        background-color: rgba(34, 137, 181, 0.2);
        transition-duration: .8s;
    }

    &__control:checked ~ &__button {
        background-color: #2289B5;
    }

    &__control:checked ~ &__button &__button-label {
        color: #fff;
    }


    &__image {
        margin-top: auto;
        margin-bottom: 10px;

        width: 100%;

        & img {
            display: block;
            margin: 0 auto;
        }
    }
}

.radio-group {
    
    margin-top: 17px;

    &__list {
        display: flex;
    }

    &_dog-size {
        margin-top: 0;
    }

    &_dog-size &__list {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        justify-content: space-between;
        grid-gap: 20px;
    }

    &_dog-size .radio {
        margin: 0;

        &__button {
            min-width: 100px;
        }

        &:last-child {
            justify-self: flex-end;
            align-items: flex-end;
        }
    }

    &_dog-years {
        max-width: 330px;
    }

    &_dog-years &__list {
        justify-content: space-between;
    }
}

.textarea {
    border-radius: 5px;
    border: 1px solid #828282;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 15px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px !important;
    padding: 10px;
    resize: none;
    width: 100%;
    max-width: 280px;
}

.avatar-input {
    display: block;
    width: 100%;
    background: #c4c4c4;
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    img {
        display: block;
        height: 100%;
        width: 100%;
    }

    &__overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: rgba(70, 68, 81, 0.8);
        color: #fff;
        font-size: 40px;
        align-items: center;
        justify-content: center;
    }

    &:hover &__overlay {
        display: flex;
        cursor: pointer;
    }

    &:active &__overlay {
        background: rgba(70, 68, 81, 0.9);
    }

    &__control {
        display: none;
    } 
} 
